extends layout

block content
    .fotoBodyIndex.inputSearch.container-fluid
      .row
        .col-lg-2
        .col-lg-8
            p.subTitle ยก Cambia lo que no uses y consigue lo que siempre quisiste !
            .input-group
        .col-lg-2