extends layout

block content
    header.header.container-fluid
      .row
          .col-lg-6.col-md-6.col-xs-6
            h1.title TrueQ-iN
          |             
          .col-lg-6.col-md-6.col-xs-6
            .container-fluid
              a.butEntReg.btn.btn-warning.btn-lg(href='register') Registro
              |                     
              a.butEntReg.btn.btn-warning.btn-lg(href='enter') Entrar

    .fotoBodyIndex.inputSearch.container-fluid
      .row
        .col-lg-2
        .col-lg-8
            p.subTitle ยก Cambia lo que no uses y consigue lo que siempre quisiste !
            .input-group
              form(method="GET", action="/search")
                input.input-lg.inputLine.form-control(name="title", autofocus="", type="text", placeholder="Busque productos para intercambiar...")
                span.input-group-btn
                  button.btn-lg.searchButton.btn.btn-warning(type="submit") Buscar
        .col-lg-2