extends layout

block content
    
    header.header.container-fluid
            .row
              .col-lg-6.col-md-6.col-xs-6
                a(href='index')
                  h1.title TrueQ-iN
              |             
              .col-lg-6.col-md-6.col-xs-6
                .container-fluid
                  ul.navbar-right
                    a.btn-lg.butEntReg.btn.btn-warning.dropdown-toggle(data-toggle='dropdown')
                      | Don Trueque85 
                      b.caret
                    |                         
                    ul.dropdown-menu
                      li
                        a(href='perfilUser') Ver perfil
                      |                             
                      li
                        a(href='userProduct') Subir producto
                      |                             
                      li
                        a(href='/') Salir

    .container.perfilUser
        .row
            .col-lg-12.col-md-12.col-xs-12
              .well.well-sm
                .row
                  .col-sm-6.col-md-3
                    img.img-rounded.img-responsive.imgPerfil(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3yCogXhtbzlRDgQPifTaDfmkTROUhTWwekYILkRQ93dMJaR-VQg', draggable='false')
                  |                         
                  .col-lg-6.col-md-6.col-xs-6
                    h1 Walter White
                    |                             
                    h3
                      i.glyphicon.glyphicon-envelope
                      |  heisenberg@gmail.com
                  |                         
                  div
                    button.btn-lg.btn.btn-warning.buttonPerfilSeparate(data-toggle='modal', data-target='#myModal') Cambiar datos de usuario
                    |                             
                    #myModal.modal.fade(role='dialog')
                      .modal-dialog
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal') &times;
                            |                                             
                            h4.modal-title Perfil de usuario
                          |                                         
                          .modal-body
                            | Alias
                            input.form-control(type='text', name='', placeholder='Cambie el Alias...')
                            |  E-mail
                            |                                             
                            input.form-control(type='mailto', name='', placeholder='Cambie su correo...')
                            |  Cambie la foto de Perfil
                            |                                             
                            input.form-control(type='mailto', name='', placeholder='Cambie la foto de perfil, introduce una URL...')
                            |                                             
                            button.buttonChangePerfil.btn.btn-success Guardar
                            |                                             
                            button.buttonChangePerfil.btn.btn-danger Cancelar
                  |                         
                  div
                    button.btn-lg.btn.btn-warning(data-toggle='modal', data-target='#myModal2') Cambiar contrase&ntilde;a
                    |                             
                    #myModal2.modal.fade(role='dialog')
                      .modal-dialog
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal') &times;
                            |                                             
                            h4.modal-title Contrase&ntilde;a
                          |                                         
                          .modal-body
                            | Contrase&ntilde;a anterior
                            input.form-control(type='text', name='', placeholder='Contraseña anterior...')
                            |  Nueva contrase&ntilde;a
                            |                                             
                            input.form-control(type='text', name='', placeholder='Cambie su contraseña...')
                            |  Repita su contrase&ntilde;a
                            |                                             
                            input.form-control(type='text', name='', placeholder='Repita su contraseña...')
                            |                                             
                            button.buttonChangePerfil.btn.btn-success Guardar
                            |                                             
                            button.buttonChangePerfil.btn.btn-danger Cancelar
            |             
            .container.panel.panel-default
              h4.panel-title
                span.glyphicon.glyphicon-th-list
                |  Productos subidos...
              |                 
              .panel-body
                .row
                  .col-lg-12
                    .col-sm-6.col-md-4
                      .thumbnail
                        img(style='background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRReUKXBV9h9n0ueWvl0bjj8Vtj11Zt_fAmZ7sPG_X0gKb92mVYNw)', src='', alt='')
                        |                                     
                        .caption
                          h3 Sofa chester
                          |                                         
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quos, consectetur quidem, delectus labore laboriosam est distinctio assumenda id a magnam excepturi enim eligendi voluptates hic rerum dolore officia maxime.
                          |                                         
                          .buttonsMyProducts
                            a.btn.btn-primary(href='/productInfo.html', role='button') Mas info
                            |                                         
                            a.btn.btn-warning(href='#', role='button') Reservar
                            |                                         
                            a.btn.btn-danger(href='#', role='button') Eliminar
                    |                             
                    .col-sm-6.col-md-4
                      .thumbnail
                        img(style='background-image: url(https://psmedia.playstation.com/is/image/psmedia/ps4-pro-screen-02-eu-06sep16?$MediaCarousel_SmallImage$)', src='', alt='')
                        |                                     
                        .caption
                          h3 Ps4 Pro
                          |                                         
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aperiam eveniet veritatis, deleniti natus, voluptatibus qui culpa obcaecati minus aut veniam eum nostrum vero cum, aspernatur repellat dicta modi vel!
                          |                                         
                          .buttonsMyProducts
                            a.btn.btn-primary(href='/productInfo.html', role='button') Mas info
                            |                                         
                            a.btn.btn-warning(href='#', role='button') Reservar
                            |                                         
                            a.btn.btn-danger(href='#', role='button') Eliminar
                    |                             
                    .col-sm-6.col-md-4
                      .thumbnail
                        img(style='background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAIMEs9TmnSbp-5QWUa_IihGGjCt6tqMHVAOgiCKKX-PN2EmjX)', src='', alt='')
                        |                                     
                        .caption
                          h3 Taladro
                          |                                         
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque reiciendis sequi, voluptatibus dolorum aperiam eius, incidunt voluptate officia! Ipsa at assumenda earum deleniti dignissimos vitae doloremque impedit praesentium, quo magnam.
                          |                                         
                          .buttonsMyProducts
                            a.btn.btn-primary(href='/productInfo.html', role='button') Mas info
                            |                                         
                            a.btn.btn-warning(href='#', role='button') Reservar
                            |                                         
                            a.btn.btn-danger(href='#', role='button') Eliminar
