extends layout

block content
    .inputResults.container
      .row
        if (state.products)
          each product in state.products
            .col-sm-6.col-md-4
              .thumbnail.productPerfil(class=product.reserved ? "product-reserved" : "")

                img(style='background-image: url('+ product.image +')')
                |                     
                .caption
                  h3 #{product.title}
                  |                         
                  p
                    | #{product.description}
                  |                         
                  p
                    a.btn.btn-primary(href=('product-info/'+ product._id), role='button', target='_blank') Mas info
            
