extends layout

block content

    header.header.container-fluid
      .row
        .col-lg-6.col-md-6.col-xs-6
          a(href='/')
            h1.title TrueQ-iN
        |             
        .col-lg-6.col-md-6.col-xs-6
          .container-fluid
            ul.navbar-right
              a.btn-lg.butEntReg.btn.btn-warning.dropdown-toggle(data-toggle='dropdown')
                | Don Trueque85 
                b.caret
              |                         
              ul.dropdown-menu
                li
                  a(href='perfil-user') Ver perfil
                |                             
                li
                  a(href='user-product') Subir producto
                |                             
                li
                  a(href='/') Salir
    |     
    .upArticle.container-fluid
      .row
        .col-md-12
          form(method='post', action='create-product')
            .panel-group
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    span.glyphicon.glyphicon-file
                    | Nuevo producto...
                |                             
                div
                  .panel-body
                    .row
                      .col-md-12
                        .form-group
                          input.form-control(type='text', placeholder='Titulo', required=true, name='title')
                        |                                             
                        .form-group
                          textarea.form-control(placeholder='Descripcion', rows='5', required=true, name='description')
                    |                                     
                    .row
                      .col-md-6
                        .form-group
                          label(for='category')
                            | Categoria
                          |                                                 
                          select(name='category')#category.form-control
                            option Quiero
                            |                                                     
                            option Tengo
                      |                                         
                      .col-md-6
                        .form-group
                          label(  for='tags')
                            | Tags
                          |                                                 
                          input#tags.form-control(type='text', placeholder='Tags')
                    |                                     
                    .row
                      .col-md-6
                        .well.well-sm
                          .input-group
                            span.input-group-addon Imagen para subir...
                            |                                                     
                            input.form-control(type='text', placeholder='añadir ruta...', name='image')
                      |                                         
                      .col-md-6
                        .well.well-sm.well-primary
                          .form-group
                            button.btn.btn-success.btn-sm(type='submit')
                              span
                              | Save
                            |                                                     
                            button.btn.btn-default.btn-sm(type='button', data-toggle='modal', data-target='#myModal')
                              span.glyphicon.glyphicon
                              | Preview
                            |                                                     
                            #myModal.modal.fade(role='dialog')
                              .modal-dialog
                                .modal-content
                                  .modal-header
                                    button.close(type='button', data-dismiss='modal') &times;
                                    |                                                                     
                                    h4.modal-title Preview
                                  |                                                                 
                                  .modal-body
                                    .thumbnail
                                      img(style='background-image: url(https://psmedia.playstation.com/is/image/psmedia/ps4-pro-screen-02-eu-06sep16?$MediaCarousel_SmallImage$)', src='', alt='')
                                      |                                                                         
                                      .caption
                                        h3 Ps4 Pro
                                        |                                                                             
                                        p
                                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate deserunt, suscipit hic fugiat ab tempore praesentium aperiam vitae, velit, quos dignissimos eveniet, accusantium inventore modi ea? Illo tempore maiores adipisci?
                                        |                                                                             
                                        p
                                          a.btn.btn-primary(href='product-info', role='button') Mas info


