html body {
    background-color:#4D4C4C;
    font-family: Baloo Bhaijaan;

}

/*.bodyCarrusel {
    height: 450px !important;
}*/

.title {
    margin-left: 5%;
    color: #FFB249;
    font-size: 65px;
    float: left;
}

.butEntReg {
    position: relative;
    float: right;
    margin-top: 30px;

}

ul.dropdown-menu {
    right: 18px !important;
    top: 75px!important;
}

.butEntReg2 {
    position: relative;
    float: right;
    margin-top: 30px;
}

.inputResults {
    margin-top: 35px;
}

.resultsButton {
    margin-top: 35px;
}

.modal-body {
    padding: 25px !important;
}

.header {
    border-bottom: 2px solid #FFB249;
    height: 110px;
}

.inputSearch {
    padding-top: 220px;
    padding-bottom: 220px;

}

.footer {
    clear: both;
    /*position: fixed;*/
    border-top: 2px solid #FFB249;
    color: #FFB249;
    text-align: center; 
    height: 52px;
}

.fotoBodyIndex {
    background-image: url(https://professor-falken.com/wp-content/uploads/2016/09/botas-agenda-corbata-ca-mara-madera-Fondos-de-Pantalla-HD-professor-falken.com_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.inputLine, .searchButton{
    opacity: 0.8;
    filter: alpha(opacity=30);
}

img {
    width: 100%;
  height: 300px !important;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.moreInfoImg {
    width: 50%;
  height: 600px !important;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.divUser {
    background-color: white;
    border-radius: 5px;
}

.upArticle {
    margin-top: 20px;
}

.subTitle {
    opacity: 0.7;
    font-size: 32px;
    background-color: #FFFFFF;    
    text-align: center;
}

@media screen and (max-width: 768px) {
    .title {
        font-size:40px;
    }
}

@media screen and (max-width: 736px) {
    .titleResults {
        display:none;
    }
}

.perfilUser {
    margin-top: 5%;
}

.more-info {
    margin-top: 1%;
}

.imgPerfil {
    margin-bottom: 5%;
}

.buttonChangePerfil {
    margin-top: 2%;
}

.buttonsMyProducts {
    text-align: center;
}

.buttonPerfilSeparate {
    margin-bottom: 1%!important;
}

/*------------------------------CSS BACKGROUND IMG RANDOM--------------------------------------*/

/*html {
    position: relative;
    min-height: 100%;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(http://www.bestfon.info/images/joomgallery/originals/macro_16/macro_88_20130108_1361391134.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(http://www.my-hd-wallpapers.es/download.php?wallpaper=1409747298&dwn=wall/1409747298_vintage-women-bike.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(http://www.hdfondos.eu/preview/get_photo/152485/1920/1080) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}*/