html body {
    background-color:#4D4C4C;
    font-family: Baloo Bhaijaan;

}

.divLogin {
    display: none;
}

.divNoLogin {
    display: none;
}

.productPerfil:hover, .productPerfil:active {
    -webkit-transition:-webkit-transform 0.2s ease-out;
    -moz-transition:-moz-transform 0.2s ease-out;
    -o-transition:-o-transform 0.2s ease-out;
    -ms-transition:-ms-transform 0.2s ease-out;
    transition:transform 0.2s ease-out;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.buttonSearch {
    border-radius: 4px!important;
}


.title {
    margin-left: 5%;
    color: #FFB249;
    font-size: 65px;
    float: left;
}

.subTitle {   
    font-size: 32px;
    background-color: #FFFFFF;    
    text-align: center;
}

.search-header {
    padding-top: 35px;
}

.butEntReg {
    margin-right: 20px;
    position: relative;
    float: right;
    margin-top: 30px;

}

.butEntReg2 {
    margin-left: 5px;
    position: relative;
    float: right;
    margin-top: 30px;
}

ul.dropdown-menu {
    right: 18px !important;
    top: 75px!important;
}

.inputResults {
    margin-top: 35px;
}

.resultsButton {
    margin-top: 35px;
}

.modal-body {
    padding: 25px !important;
}

.header {
    border-bottom: 2px solid #FFB249;
    height: 110px;
}

.inputSearch {
    padding-top: 220px;
    padding-bottom: 220px;

}

.footer {
    clear: both;
    /*position: fixed;*/
    border-top: 2px solid #FFB249;
    color: #FFB249;
    text-align: center; 
    height: 52px;
}

.fotoBodyIndex {
    background-image: url(https://professor-falken.com/wp-content/uploads/2016/09/botas-agenda-corbata-ca-mara-madera-Fondos-de-Pantalla-HD-professor-falken.com_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.inputLine, .searchButton{
    opacity: 0.8;
    filter: alpha(opacity=30);
}

img {
    _width: 100%;
    _height: 300px !important;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.product-reserved .caption {
    background-color:#FFCC7F!important;
    background-image: url(https://www.salin-medicair.de/wp-content/themes/medicare/images/r-logo.PNG);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position:245px 12px;     
}

.moreInfoImg {
    width: 100%;
  height: 550px !important;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.divUser {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
}

.upArticle {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size:40px;
    }
}


.perfilUser {
    margin-top: 5%;
}

.more-info {
    margin-top: 1%;
}

.imgPerfil {
    margin-bottom: 5%;
}

.buttonChangePerfil {
    margin-top: 2%;
}

.buttonsMyProducts {
    text-align: center;
}

.buttonPerfilSeparate {
    margin-bottom: 1%!important;
}

#select {
    margin-bottom: 1%;
}

.buttonMensaje {
    margin-bottom:2%!important;
    margin-left: 5%;
}


.textareaMargin {
    width:60%!important;
    margin-bottom: 10px;

}

.inputMessage {
    width: 60%!important;
    margin-top: 10px; 
}

.messagePadding {
    padding-left: 5px;
}